{% extends 'testapp/base.html' %}
<!-- オーバーライド対象：content=子テンプレートのブロック名 -->

<!-- テンプレートの継承先 -->
{% block content %}
<table class="bg-white table table-bordered">
    <form action="" method="POST">
        {% csrf_token %}
        <input class="btn btn-success offset-md-4 col-md-3" type="submit" id="bid_01" name="button_1" value="[POST] redirect">
        <input class="btn btn-success offset-md-4 col-md-3" type="submit" id="bid_02" name="button_2" value="[POST] HttpResponseRedirect & reverse">
        <input class="btn btn-success offset-md-4 col-md-3" type="submit" id="bid_03" name="button_3" value="[POST] render">
        <input class="btn btn-success offset-md-4 col-md-3" type="submit" id="bid_04" name="button_4" value="[POST] render_to_Response">
        <input class="btn btn-success offset-md-4 col-md-3" type="submit" id="bid_05" name="button_5" value="[POST] HttpResponse">
        <a href = "{% url 'testapp:test2' %}">aa</a>
    </form>
</table>
<table class="bg-white table table-bordered">
    <form action="" method="GET">
    {% csrf_token %}
        <input class="btn btn-success offset-md-4 col-md-3" type="submit" id="Gbid_01" name="Gbutton_1" value="[GET] render">
    </form>
</table>
{% endblock %}